.Container {
    display: flex;
    flex-direction: column
}

.Header {
    background-color: #C8C8C8;
    padding-bottom: 25px;
    padding-top: 25px;
    margin: auto;
    width: 100%;
    text-indent: 50px;
    font-size: 36px;
  }

  .Box {
    background-color: #E5E9F2;
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 50px;
    width: 100%;
  }

  .Footer {
      display: flex;
      flex-direction: row;
      padding-top: 50px;
      margin: auto;
  }

  .Button {
    background-color: #47525E;
    border-radius: 5px;
    width: 192px;
    height: 50px;
    margin-top: 20px;
    display: inline-block;
  }

  .Icon {
      border-radius: 100%;
      background-color: white;
      height: 150px;
      width: 200px;
  }

  .Text-white {
      color: white;
  }

  .Text-center {
    text-align: center;
  }

  .Slide-Text {
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
  }

  .Slide {
    display: flex;
    flex-direction: column;
    background-color: #AEAEAE;
    border-radius: 6px;
    width: 400px;
    height: 550px;
    margin: 25px;
    justify-content: center;
    align-items: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  