.warning{
	background-color: #E91E63;
	padding: 3px;
	color: white;
}

body{
	display: flex;
	height: 100%;
	padding: 0;
	margin: 0;
	align-items: center;
	justify-content: center;
}

.hint{
	display: flex;
	flex-direction: row;
	background-color: #EEEEEE;
	margin: 5px;
	border-radius: 3px;
}
.southwestlogo{
	height: 60px;

}