body {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, .50);
}

.hidden {
  display: none
}

.backgroundTint {
  background: rgba(255, 255, 255, 0.288);
}

.background {
  background-image: url("./images/car-clouds-countryside-57645.jpg");
    background-repeat: no-repeat;
    background-size: 1500px;
}

.formInputs {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  padding: 30px;
}

.notHidden {
  display: flex;
  flex-direction: row;
}

html {
  font-family: 'Roboto', sans-serif;
}